<h3><%= @game.name %></h3><br />
<h5>Created By: <%= @game.user.username %></h5>

<br /><br />

<% if current_user && current_user == @game.user %>
  <%= link_to 'Delete Game', game_path(@game), method: :delete, data: {confirm: 'Are you SURE you want to delete this game?'}, class: 'btn btn-danger' %>
<% end %>