<h3><%= @game.game_name %></h3>

<br /><br />

<% if current_user && current_user == @game.white_player %>
  <%= link_to 'Delete Game', game_path(@game), method: :delete, data: {confirm: 'Are you SURE you want to delete this game?'}, class: 'btn btn-danger' %>
<% end %>



<html>
    <head>
        <meta charset="UTF-8">
        <title>Chessboard</title>
        <style type="text/css">

        </style>
    </head>

    <body>
        <div class="chessboard">
            <!-- 1st ROW-->
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <!-- 2nd ROW -->
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <!-- 3rd ROW -->
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <!-- 4th ROW -->
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <!-- 5th ROW -->
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <!-- 6th ROW -->
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <!-- 7th ROW -->
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <!-- 8th ROW -->
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
        </div>
    </body>
</html>
