@import "bootstrap";

p.alert {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.add a {
  font-weight: bold;
  font-size: 17px;
}

.add a + a {          /* the "+" selects from 2nd child on */
  padding-left: 8px;
}


